.seriesMemoQuote {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	box-sizing: border-box;
}

.seriesMemoQuote__title-image {
	width: 13px;
	height: 12px;
	background-image: url(../../image/quotes.svg);
	background-size: contain;
	background-position: center;
	margin-bottom: 10px;
}

.seriesMemoQuote__text {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.seriesMemoQuote__autor-container {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.seriesMemoQuote__line {
	width: 30px;
	height: 1px;
	background-color: #000000;
	margin-right: 10px;
}

.seriesMemoQuote__autor {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: var(--simple-text-color);
}

@media screen and (min-width: 425px) {
	.seriesMemoQuote__text {
		font-size: 14px;
	}

	.seriesMemoQuote__autor {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.seriesMemoQuote {
		padding-left: 30px;
	}

	.seriesMemoQuote__title-image {
		width: 16px;
		height: 15px;
		margin-bottom: 20px;
	}

	.seriesMemoQuote__text {
		font-size: 20px;
	}

	.seriesMemoQuote__autor-container {
		margin-top: 20px;
	}

	.seriesMemoQuote__autor {
		font-size: 20px;
	}
}
