.seriesText {
	width: 100%;
	display: flex;
}

.seriesText__content {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.seriesText__meaningfulPhrase {
	font-style: italic;
	text-decoration: underline;
	color: var(--light-text-color);
}

.seriesText__link {
	color: #1d67a4;
	text-decoration: underline;
}

@media screen and (min-width: 425px) {
	.seriesText__content {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.seriesText__content {
		font-size: 20px;
	}
}
