.seriesText {
	width: 100%;
	display: flex;
}

.seriesText__content {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	color: #000000;
}

.seriesText__meaningfulPhrase {
	font-style: italic;
	text-decoration: underline;
	color: #a0a0a0;
}
