.seriesContents {
	display: flex;
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: visibility 0.5s linear, opacity 0.5s linear;
	opacity: 0;
}

.seriesContents_visible {
	visibility: visible;
	opacity: 1;
}

.seriesContents__container {
	width: 200px;
	height: 330px;
	position: relative;
	left: 32%;
	top: 80px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border: 2px solid #000000;
	padding: 0 10px 10px 10px;
	box-sizing: border-box;
}

.seriesContents__vector-external {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 18px solid #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	left: 140px;
	top: -18px;
}

.seriesContents__vector-interior {
	margin-top: 2px;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 16px solid #ffffff;
}

.seriesContents__list {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.seriesContents__series-container {
	margin-bottom: 5px;
}

.seriesContents__series-name {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: var(--simple-text-color);
	text-decoration: none;
}

.seriesContents__series-number {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--light-text-color);
}

@media screen and (min-width: 425px) {
	.seriesContents__container {
		left: 46%;
	}
}

@media screen and (min-width: 768px) {
	.seriesContents__container {
		width: 250px;
		left: 62%;
		padding: 0 20px 20px 20px;
	}

	.seriesContents__series-name {
		font-size: 20px;
	}

	.seriesContents__series-number {
		font-size: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.seriesContents__container {
		width: 250px;
		left: 72%;
	}
}
