.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
	background-color: #ffffff;
}

.main__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

.main__pretitle {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--simple-text-color);
}

.main__title {
	margin: 10px 0 15px 0;
	font-family: 'Garamond Narrow';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 71%;
	text-align: center;
	color: var(--simple-text-color);
}

.main__header-image {
	width: 250px;
	height: 357px;
}

.main__subtitle {
	margin: 13px 0 0 0;
	width: 95%;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	text-align: center;
	color: var(--simple-text-color);
}

.main__list-container {
	height: 550px;
	width: 100%;
	padding: 10px 0 0 0;
	box-sizing: border-box;
}

.main__series-list {
	padding-left: 5px;
	box-sizing: border-box;
}

.main__empty-block {
	width: 5px;
}

.main__preview-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 425px) {
	.main {
		padding: 0 20px;
	}

	.main__header {
		padding: 30px 0;
	}

	.main__title {
		font-size: 55px;
	}

	.main__subtitle {
		font-size: 15px;
	}

	.main__list-container {
		height: 645px;
		width: 100%;
		padding: 10px 0 0 0;
		box-sizing: border-box;
	}
}

@media screen and (min-width: 768px) {
	.main__header {
		padding: 50px 0;
	}

	.main__title {
		margin: 20px 0 40px 0;
		font-size: 100px;
	}

	.main__header-image {
		width: 279px;
		height: 457px;
	}

	.main__subtitle {
		margin: 18px 0 0 0;
		width: 90%;
		font-size: 20px;
	}

	.main__list-container {
		height: 900px;
		width: 100%;
		padding: 30px 0 0 0;
		box-sizing: border-box;
	}

	.main__series-list {
		padding-left: 20px;
		box-sizing: border-box;
	}

	.main__empty-block {
		width: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.main {
		max-width: 1360px;
	}

	.main__header {
		padding: 85px 0;
	}

	.main__title {
		margin: 33px 0 66px 0;
		font-size: 180px;
	}

	.main__subtitle {
		margin: 23px 0 0 0;
		font-size: 25px;
	}

	.main__list-container {
		height: 970px;
		width: 100%;
		padding: 50px 0 0 0;
		box-sizing: border-box;
	}

	.main__series-list {
		padding-left: 40px;
		box-sizing: border-box;
	}

	.main__empty-block {
		width: 40px;
	}
}
