.series {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0;
	box-sizing: border-box;
	background-color: #ffffff;
}

.series__main-image {
	width: 100%;
	height: 115px;
	margin-bottom: 15px;
}

.series__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
}

.series__period-container {
	width: 100%;
	padding-top: 10px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.series__date-container {
	display: flex;
	flex-direction: column;
}

.series__date {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	color: var(--simple-text-color);
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.series__number {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	color: var(--simple-text-color);
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.series__name-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 27px 0;
}

.series__name {
	margin: 0;
	font-family: 'Garamond Narrow';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 71%;
	color: var(--simple-text-color);
}

.series__discription-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.series__discription {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 10px;
	line-height: 110%;
	color: var(--simple-text-color);
}

.series__line {
	width: 100%;
	height: 1px;
	background-color: #000000;
}

.series__columns-names-container {
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 5fr;
	column-gap: 40px;
}

.series__columns-names {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	color: var(--simple-text-color);
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.series__columns-names_invisible {
	display: none;
}

.series__parts-container {
	width: 100%;
	display: flex;
	padding: 0 10px;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
}

.series__button-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.series__button {
	display: flex;
	width: 100px;
	height: 40px;
	justify-content: center;
	align-items: center;
	background-color: #888888;
	color: var(--simple-text-color);
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.series__button:last-of-type {
	margin-right: 0;
}

.series__button_disable {
	background-color: #cccccc;
	color: #ffffff;
	cursor: default;
}

@media screen and (min-width: 425px) {
	.series__main-image {
		height: 152px;
		margin-bottom: 20px;
	}

	.series__header {
		padding: 0 20px;
	}

	.series__name-container {
		margin: 37px 0;
	}

	.series__name {
		font-size: 70px;
	}

	.series__discription {
		font-size: 12px;
	}

	.series__parts-container {
		padding: 0 20px;
	}
}

@media screen and (min-width: 768px) {
	.series__main-image {
		height: 275px;
		margin-bottom: 30px;
	}

	.series__header {
		padding: 0 40px;
	}

	.series__period-container {
		padding-top: 14px;
	}

	.series__name-container {
		margin: 57px 0;
	}

	.series__name {
		font-size: 120px;
	}

	.series__discription-container {
		margin-bottom: 50px;
	}

	.series__discription {
		font-size: 20px;
	}

	.series__columns-names-container {
		grid-template-columns: 1fr 6fr 4fr 1fr;
	}

	.series__parts-container {
		padding: 0 40px;
	}

	.series__button-container {
		width: 60%;
	}

	.series__button {
		width: 150px;
		font-size: 15px;
	}
}

@media screen and (min-width: 1024px) {
	.series {
		max-width: 1360px;
	}

	.series__main-image {
		height: 470px;
		margin-bottom: 40px;
	}

	.series__name-container {
		margin: 97px 0;
	}

	.series__name {
		font-size: 180px;
	}

	.series__discription-container {
		margin-bottom: 90px;
	}

	.series__discription {
		font-size: 25px;
	}
}
