.seriesVideo {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.seriesVideo__video {
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
}

.seriesVideo__video_invisible {
	display: none;
}

.seriesVideo__preview {
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
}

.seriesVideo__preview_invisible {
	display: none;
}

.seriesVideo__name {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.seriesVideo__autor {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.seriesVideo__source {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	color: var(--light-text-color);
}

@media screen and (min-width: 425px) {
	.seriesVideo__video {
		height: 146px;
	}

	.seriesVideo__preview {
		height: 146px;
	}

	.seriesVideo__name {
		font-size: 11px;
	}

	.seriesVideo__autor {
		font-size: 11px;
	}

	.seriesVideo__source {
		font-size: 11px;
	}
}

@media screen and (min-width: 768px) {
	.seriesVideo__video {
		height: 180px;
	}

	.seriesVideo__preview {
		height: 180px;
	}

	.seriesVideo__name {
		font-size: 12px;
	}

	.seriesVideo__autor {
		font-size: 12px;
	}

	.seriesVideo__source {
		font-size: 12px;
	}
}

@media screen and (min-width: 1024px) {
	.seriesVideo__video {
		height: 470px;
	}

	.seriesVideo__preview {
		height: 470px;
	}

	.seriesVideo__name {
		font-size: 15px;
	}

	.seriesVideo__autor {
		font-size: 15px;
	}

	.seriesVideo__source {
		font-size: 15px;
	}
}
