.part {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.part__header-container {
	width: 100%;
}

.part__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.part__header-image {
	width: 100%;
	height: 459px;
	margin: 40px 0 0 0;
}

.part__name {
	margin: 40px 0;
	font-family: 'Garamond Narrow';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 71%;
	color: #000000;
	overflow-wrap: break-word;
	/*word-break: break-all;*/
}

.part__separator {
	width: 100%;
	border-top: 1px dashed #a0a0a0;
}

.part__content-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 5fr;
	column-gap: 40px;
	padding: 40px 0;
}

.part__column-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.part__column-container_invisible {
	display: none;
}

.part__section-container {
	margin: 0;
}

.part__section-margin_small {
	margin: 5px 0;
}

.part__section-margin_large {
	margin: 30px 0;
}

.part__section-container:first-of-type {
	margin-top: 0;
}

.part__section-container:last-of-type {
	margin-bottom: 0;
}

.part__column-margin {
	justify-content: space-around;
}

.part__date {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	color: #a0a0a0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.part__source-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.part__source-image {
	width: 22px;
	height: 21px;
	background-image: url(../../image/Vector.svg);
	background-size: contain;
	background-position: center;
	margin-bottom: 10px;
}

.part__source-name {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	color: #a0a0a0;
}

@media screen and (min-width: 425px) {
	.part__content-container {
		grid-template-columns: 1fr 6fr 4fr 1fr;
	}

	.part__name {
		font-size: 60px;
	}
}

@media screen and (min-width: 768px) {
	.part__name {
		font-size: 80px;
	}
}

@media screen and (min-width: 1024px) {
	.part__name {
		font-size: 110px;
	}
}
