.seriesPreview {
	width: 230px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.seriesPreview__navlinck {
	text-decoration: none;
}

.seriesPreview__graphic {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 12px;
}

.seriesPreview__graphic-main {
	width: calc(100% - 20px);
}

.seriesPreview__graphic-line {
	width: 20px;
	height: 1px;
	background-color: #000000;
}

.seriesPreview__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 20px;
	box-sizing: border-box;
}

.seriesPreview__date-block {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.seriesPreview__date-container {
	display: flex;
	flex-direction: column;
}

.seriesPreview__date-container_end {
	align-items: flex-end;
}

.seriesPreview__date {
	margin: 0;
	height: 12px;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 9px;
	line-height: 130%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--simple-text-color);
}

.seriesPreview__content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}

.seriesPreview__content:hover {
	cursor: pointer;
	box-shadow: 7px 6px 34px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.seriesPreview__subtitle {
	margin: 0;
	width: 100%;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--light-text-color);
}

.seriesPreview__image {
	margin: 10px 0;
	width: 100%;
	height: 140px;
}

.seriesPreview__title-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
}

.seriesPreview__title {
	margin: 0;
	font-family: 'Garamond Narrow';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 71%;
	display: flex;
	align-items: flex-end;
	text-align: center;
	color: var(--simple-text-color);
}

.seriesPreview__text {
	margin: 10px 0 0 0;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: var(--simple-text-color);
}

@media screen and (min-width: 425px) {
	.seriesPreview {
		width: 300px;
	}

	.seriesPreview__graphic-main {
		width: calc(100% - 30px);
	}

	.seriesPreview__graphic-line {
		width: 30px;
	}

	.seriesPreview__container {
		padding-right: 30px;
	}

	.seriesPreview__date-block {
		margin-bottom: 15px;
	}

	.seriesPreview__date {
		height: 13px;
		font-size: 10px;
	}

	.seriesPreview__content {
		padding: 15px 20px;
	}

	.seriesPreview__image {
		margin: 10px 0;
		height: 170px;
	}

	.seriesPreview__title-container {
		height: 86px;
	}

	.seriesPreview__title {
		font-size: 40px;
	}

	.seriesPreview__text {
		margin: 20px 0 0 0;
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.seriesPreview {
		width: 528px;
	}

	.seriesPreview__graphic-main {
		width: calc(100% - 40px);
	}

	.seriesPreview__graphic-line {
		width: 40px;
	}

	.seriesPreview__container {
		padding-right: 40px;
	}

	.seriesPreview__date-block {
		margin-bottom: 25px;
	}

	.seriesPreview__content {
		padding: 20px 30px 30px;
	}

	.seriesPreview__image {
		margin: 20px 0;
		height: 315px;
	}

	.seriesPreview__title-container {
		height: 167px;
	}

	.seriesPreview__title {
		font-size: 78px;
	}

	.seriesPreview__text {
		font-size: 18px;
	}
}

@media screen and (min-width: 1024px) {
	.seriesPreview__title-container {
		height: 171px;
	}

	.seriesPreview__title {
		font-size: 80px;
	}

	.seriesPreview__text {
		font-size: 20px;
	}
}
