.timelinePart {
	width: 85%;
	display: grid;
	grid-template-columns: 7fr 5px 10fr;
	column-gap: 15px;
}

.timelinePart__date-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.timelinePart__date {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 8px;
	line-height: 130%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--simple-text-color);
}

.timelinePart__separator-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timelinePart__separator-dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #000000;
}

.timelinePart__separator-line {
	width: 1px;
	height: 100%;
	background-color: #000000;
}

.timelinePart__separator-triangle {
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 5px solid #000000;
}

.timelinePart__content-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.timelinePart__content-container {
	cursor: pointer;
}

.timelinePart__content-container_last {
	padding-bottom: 0;
}

.timelinePart__content-title {
	margin: 0 0 10px 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: var(--simple-text-color);
}

@media screen and (min-width: 425px) {
	.timelinePart {
		grid-template-columns: 5fr 5px 10fr;
		column-gap: 20px;
	}

	.timelinePart__date {
		font-size: 9px;
	}

	.timelinePart__content-title {
		font-size: 19px;
	}
}

@media screen and (min-width: 768px) {
	.timelinePart {
		width: 70%;
		grid-template-columns: 4fr 5px 8fr;
		column-gap: 40px;
	}

	.timelinePart__date {
		font-size: 10px;
	}

	.timelinePart__content-container {
		padding-bottom: 30px;
	}

	.timelinePart__content-container_last {
		padding-bottom: 0;
	}

	.timelinePart__content-title {
		font-size: 25px;
	}
}

@media screen and (min-width: 1024px) {
	.timelinePart {
		width: 60%;
		grid-template-columns: 2fr 5px 6fr;
	}

	.timelinePart__content-container {
		padding-bottom: 50px;
	}

	.timelinePart__content-container_last {
		padding-bottom: 0;
	}
}
