.timeline {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	max-width: 1360px;
}

.timeline__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 85px 0;
}

.timeline__pretitle {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
}

.timeline__title {
	margin: 33px 0 66px 0;
	font-family: 'Garamond Narrow';
	font-style: normal;
	font-weight: 400;
	font-size: 180px;
	line-height: 71%;
	text-align: center;
	color: #000000;
}

.timeline__header-image {
	width: 279px;
	height: 457px;
}

.timeline__subtitle {
	margin: 23px 0 0 0;
	width: 568px;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 25px;
	line-height: 110%;
	text-align: center;
	color: #000000;
}

.timeline__list-container {
	height: 840px;
	width: 100%;
	padding: 50px 0 0 0;
	box-sizing: border-box;
}

.timeline__list {
	padding-left: 40px;
	box-sizing: border-box;
}

.timeline__empty-block {
	width: 40px;
}

.timeline__autors-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

.timeline__autor {
	margin: 0;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
}

.timeline__autor:first-of-type {
	margin-bottom: 5px;
}
