.timeline {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	max-width: 1360px;
	padding: 0 40px;
	box-sizing: border-box;
}

.timeline__image {
	margin: 15px 0;
	width: 100%;
	height: 700px;
}
