.video {
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
}

@media screen and (min-width: 425px) {
	.video {
		height: 146px;
	}
}

@media screen and (min-width: 768px) {
	.video {
		height: 180px;
	}
}

@media screen and (min-width: 1024px) {
	.video {
		height: 470px;
	}
}
