.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #ffffff;
	padding: 0 10px;
	box-sizing: border-box;
}

.footer__separator {
	width: 100%;
	height: 3px;
	background-color: #a0a0a0;
}

.footer__content-container {
	display: flex;
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	flex-direction: column;
}

.footer__discription {
	width: 100%;
	display: grid;
	grid-template-columns: 60px 15fr;
	column-gap: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.footer__discription-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	width: 60px;
	height: 60px;
}

.footer__copyright {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 130%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--simple-text-color);
}

.footer__discription-text {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.footer__column {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.footer__column:last-of-type {
	padding-bottom: 0px;
}

.footer__column-name {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--light-text-color);
}

.footer__column-container {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer__series-container {
	margin-bottom: 10px;
}

.footer__series-container:last-of-type {
	margin-bottom: 0;
}

.footer__autor-container {
	margin-bottom: 10px;
}

.footer__autor-container:last-of-type {
	margin-bottom: 0;
}

.footer__series-name {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.footer__series-number {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--light-text-color);
}

.footer__autor-role {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.footer__autor-name {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	color: var(--simple-text-color);
}

.footer__years-container {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer__year {
	margin: 0;
	font-family: 'Quant Antiqua';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 130%;
	color: var(--simple-text-color);
}

@media screen and (min-width: 425px) {
	.footer {
		padding: 0 20px;
		box-sizing: border-box;
	}

	.footer__discription {
		grid-template-columns: 70px 15fr;
		column-gap: 30px;
	}

	.footer__logo {
		width: 70px;
		height: 70px;
	}

	.footer__copyright {
		font-size: 13px;
	}

	.footer__discription-text {
		font-size: 18px;
	}
}

@media screen and (min-width: 768px) {
	.footer {
		padding: 0 50px;
	}

	.footer__content-container {
		display: grid;
		grid-template-columns: 11fr 6fr 10fr;
		column-gap: 12px;
	}

	.footer__discription {
		grid-template-columns: 60px 15fr;
		column-gap: 20px;
		padding-bottom: 0;
	}

	.footer__logo {
		width: 60px;
		height: 60px;
	}

	.footer__copyright {
		font-size: 11px;
	}

	.footer__discription-text {
		font-size: 18px;
	}

	.footer__column {
		padding-bottom: 0;
	}

	.footer__column-container {
		margin-top: 40px;
	}

	.footer__years-container {
		margin-top: 30px;
	}

	.footer__year {
		line-height: 19px;
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		padding: 0 60px;
		max-width: 1360px;
	}

	.footer__content-container {
		padding: 30px;
		column-gap: 15px;
	}

	.footer__discription {
		grid-template-columns: 90px 15fr;
		column-gap: 40px;
	}

	.footer__logo {
		width: 90px;
		height: 90px;
	}

	.footer__copyright {
		font-size: 16px;
	}

	.footer__discription-text {
		font-size: 20px;
	}
}
